/* #Fonts
================================================== */
@font-face {
  font-family: 'open-sans-hebrew';
  font-weight: 400;
  src: url("../font/OpenSansHebrew-Regular.ttf");
}

@font-face {
  font-family: 'open-sans-hebrew';
  font-weight: 700;
  src: url("../font/OpenSansHebrew-Bold.ttf");
}

/* #General
================================================== */
body {
  font-family: 'open-sans-hebrew', sans-serif;
  color: #225368;
  line-height: 1.33;
}

.text-blue {
  color: #67D0FF;
}

.text-green {
  color: #A8DE31;
}

.section-top,
.section-bottom {
  position: absolute;
  z-index: 1;
}

.section-top {
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-1.4vw);
}

.section-top img {
  width: 100%;
}

.section-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(3.4vw);
}

.section-bottom img {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .section-top {
    transform: translateY(-3.4vw);
  }
}

/* #Btn
================================================== */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.08vw;
  padding: 0 1.5vw;
  border-radius: 500px;
}

.btn-img {
  width: .78vw;
  height: .78vw;
  object-fit: contain;
  object-position: center;
  margin-left: .45vw;
}

.btn.btn-primary {
  color: white;
  background-color: #46AFDE;
}

@media (max-width: 1023.98px) {
  .btn {
    height: 10vw;
    padding: 0 10vw;
  }

  .btn-img {
    width: 3.33vw;
    height: 3.33vw;
    margin-left: 0;
  }
}

/* #Form Elements
================================================== */
.input-primary,
.select-primary {
  text-align: center;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #22536834;
  color: #2253687c;
  padding-bottom: .5vw;
}

.input-primary::placeholder,
.select-primary::placeholder {
  color: #2253687c;
}

@media (max-width: 1023.98px) {
  .input-primary,
  .select-primary {
    padding-bottom: 2vw;
  }
}

/* #Header
================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1.04vw;
  z-index: 10000;
}

.header .container {
  width: 88%;
  background-color: white;
  border-radius: 500px;
  height: 5.2vw;
  padding: 0 3.65vw;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 3px 20px #54ccff4f;
}

.header .container::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 1vw);
  height: calc(100% - 1vw);
  border-radius: 500px;
  box-shadow: 0 3px 20px #54ccff4f;
  background-color: white;
}

.header .container>* {
  position: relative;
  z-index: 2;
}

.header-logo img {
  width: 10vw;
}

.header-menu ul {
  display: flex;
  align-items: center;
  line-height: 1;
}

.header-menu ul li:not(:last-child) {
  padding-left: 1.3vw;
  margin-left: 1.3vw;
  border-left: 1px solid #D8E4E9;
}

.header-action {
  display: flex;
  align-items: center;
}

.header-action .search-icon {
  margin-left: 1.5vw;
}

.header-action .search-icon img {
  width: 1.04vw;
}

@media (max-width: 1023.98px) {
  .header {
    padding-top: 4.93vw;
  }

  .header .container {
    width: 90%;
    height: 16vw;
    padding: 0 6vw 0 4vw;
  }

  .header .container::after {
    display: none;
  }

  .header-logo img {
    width: 36.66vw;
    margin-right: 2.66vw;
  }

  .header-hamburger img {
    width: 7vw;
  }

  .header .btn {
    padding: 0;
    width: 10vw;
  }
}

/* #Banner
================================================== */
.banner {
  position: relative;
}

.banner .bg {
  position: relative;
}

.banner .bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.banner .bg img {
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
  object-position: bottom center;
}

.banner .container {
  width: 79%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.home-page .banner .container {
  top: 13vw;
  transform: translate(-50%, 0);
}

/* Heading */
.banner .heading {
  color: white;
  width: 37vw;
  line-height: 1.17;
  margin-bottom: 4.58vw;
}

.banner h1 {
  color: white;
}

.banner .text {
  text-align: center;
}

/* Box */
.banner .box {
  width: 31.77vw;
  background-color: white;
  border-radius: 1.3vw;
  overflow: hidden;
}

/* Box Top */
.banner .box-top {
  overflow: hidden;
}

.banner .box-top {
  display: flex;
  align-items: center;
  height: 3.125vw;
}

.banner .box-top .swiper-wrapper {
  transition-timing-function: linear;
}

.banner .box-top .swiper-slide {
  padding: 0 1.2vw;
  text-align: center;
  width: auto;
  border-left: 1px solid #D8E4E9;
}

/* Box Bottom */
.banner .box-bottom {
  box-shadow: 0 -5px 10px #aae6ff56;
}

.banner .box-bottom a {
  display: flex;
}

.banner .box-bottom-img {
  flex: 0 0 50%;
}

.banner .box-bottom-img img {
  width: 100%;
  height: 11.5vw;
  object-fit: cover;
  object-position: center;
}

.banner .box-bottom-text {
  flex: 0 0 50%;
  padding-top: 2vw;
  padding-right: 3.125vw;
  padding-left: 2vw;
}

.banner .box-bottom-text h3 {
  padding-left: 2vw;
  line-height: 1.36;
  margin-bottom: .4vw;
}

.banner .box-bottom-text p:last-child {
  margin-top: 1vw;
  display: flex;
  align-items: center;
}

.banner .box-bottom-text p:last-child img {
  width: .35vw;
  margin-right: .416vw;
}

/* Accordion */
.banner .accordion {
  position: absolute;
  top: 0;
  left: 0;
  width: 23.8vw;
  box-shadow: 0 -5px 10px #67cfff1e;
}

.banner .accordion .collapsible {
  border-radius: 1.3vw;
  box-shadow: 0 -5px 10px #67cfff1e;
}

.banner .accordion .collapsible:not(:last-child) {
  margin-bottom: -2vw;
  padding-bottom: 2vw;
}

.banner .accordion .collapsible:nth-child(1) {
  background-color: #97DFFF;
}

.banner .accordion .collapsible:nth-child(2) {
  background-color: #D1F0FF;
}

.banner .accordion .collapsible:nth-child(3) {
  background-color: #C4FF8A;
}

.banner .accordion .collapse-toggler {
  display: flex;
  align-items: center;
  padding: 1.5vw 1vw 1.1vw 2vw;
}

.banner .accordion .toggler-img {
  transition: all .6s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .accordion .collapse-toggler img {
  width: 4.16vw;
  margin-left: 1.5vw;
  transition: all .6s ease;
}

.banner .accordion .toggler-text {
  transition: all .6s ease;
}

.banner .accordion .collapse-toggler h3 {
  margin-bottom: .25vw;
}

.banner .accordion .collapse>div {
  padding-bottom: 2vw;
}

.banner .collapse-heading {
  text-align: center;
  margin-bottom: 1.5vw;
}

.banner .collapse-heading h3 {
  margin-bottom: .25vw;
}

.banner-cards {
  display: flex;
  flex-wrap: wrap;
}

/* Two Columns */
.banner-cards.col-2 {
  margin: -.57vw;
  padding: 0 3.125vw;
}

.banner-cards.col-2 .banner-card {
  flex: 0 0 50%;
  padding: .57vw;
}

.banner-cards.col-2 .banner-card>div {
  height: 5.2vw;
}

/* Three Columns */
.banner-cards.col-3 {
  margin: -.25vw;
  padding: 0 1.6vw;
}

.banner-cards.col-3 .banner-card {
  flex: 0 0 33.33333%;
  padding: .25vw;
}

.banner-cards.col-3 .banner-card>div {
  height: 4.53vw;
}

.banner-card>div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.22);
  border-radius: 1vw;
  border: 1px solid white;
}

.banner-card img {
  margin: 0 auto;
  width: 1.8vw;
  height: 1.8vw;
  object-fit: contain;
  object-position: center;
  margin-bottom: .5vw;
}

/* Collapse Toggler Animation */
.banner .collapsible.show .toggler-text {
  width: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.banner .collapsible.show .collapse-toggler img {
  margin-left: auto;
  margin-right: auto;
}

.banner .collapsible .toggler-img {
  flex-grow: 0;
}

.banner .collapsible.show .toggler-img {
  flex-grow: 1;
}

@media (max-width: 1023.98px) {
  .banner {
    position: relative;
  }

  .home-page .banner {
    padding-bottom: 26.66vw;
  }

  .banner .bg img {
    max-height: 166.66vw;
  }

  .banner .container {
    width: 92%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .home-page .banner .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
    padding-top: 26.66vw;
  }

  /* Heading */
  .banner .heading {
    width: 80%;

    margin: 0 auto;
    text-align: center;
    margin-bottom: 6.65vw;
  }

  /* Box */
  .banner .box {
    width: 90%;
    margin: 0 auto;
    border-radius: 3.33vw;
  }

  /* Box Top */
  .banner .box-top {
    height: 13vw;
  }

  .banner .box-top .swiper-slide {
    padding: 0 2.8vw;
  }

  /* Box Bottom */
  .banner .box-bottom-img {
    flex: 0 0 33.3333vw;
  }

  .banner .box-bottom-img img {
    height: 17.6vw;
  }

  .banner .box-bottom-text {
    flex: 0;
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
  }

  .banner .box-bottom-text h3 {
    padding-left: 0;
    line-height: 1.36;
    margin-bottom: 0;

    display: flex;
    align-items: center;
  }

  .banner .box-bottom-text h3 img {
    width: 1.33vw;
    margin-right: 2vw;
  }

  .banner .box-bottom-text p:last-child {
    display: none;
  }

  /* Accordion */
  .banner .accordion {
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20;
  }

  .banner .accordion .collapsible {
    border-radius: 4vw;
  }

  .banner .accordion .collapsible:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .banner .accordion .collapsible:not(:last-child) {
    margin-bottom: -8vw;
    padding-bottom: 8vw;
  }

  .banner .accordion .collapse-toggler {
    padding: 3.33vw 5.33vw 2.66vw 5.33vw;
  }

  .banner .accordion .collapse-toggler img {
    width: 12vw;
    margin-left: 6vw;
  }

  .banner .accordion .toggler-text {
    display: flex;
    align-items: center;
    line-height: 1;
  }

  .banner .accordion .collapse-toggler h3 {
    margin-bottom: 0;
    margin-left: 2.66vw;
    padding-left: 2.66vw;
    border-left: 1px solid #22536850;
  }

  .banner .accordion .collapse>div {
    padding-bottom: 13.33vw;
  }

  .banner .collapse-heading {
    margin-bottom: 6.65vw;
  }

  .banner .collapse-heading h3 {
    margin-bottom: 2.66vw;
  }

  /* Two Columns */
  .banner-cards.col-2 {
    margin: -.57vw;
    padding: 0 11.33vw;
  }

  .banner-cards.col-2 .banner-card {
    padding: 2.53vw;
  }

  .banner-cards.col-2 .banner-card>div {
    height: 23.33vw;
  }

  /* Three Columns */
  .banner-cards.col-3 {
    margin: -1.33vw;
    padding: 0 4.33vw;
  }

  .banner-cards.col-3 .banner-card {
    flex: 0 0 33.33333%;
    padding: 1.33vw;
  }

  .banner-cards.col-3 .banner-card>div {
    height: 23.33vw;
  }

  .banner-card>div {
    border-radius: 2vw;
  }

  .banner-card img {
    width: 8vw;
    height: 8vw;
    margin-bottom: 2vw;
  }
}


/* #Slideshow
================================================== */
#slideshow {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#slideshow img {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  margin-left: -50%;
  margin-top: -50vh;
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  -webkit-transition-duration: 3s, 10s;
  -moz-transition-property: opacity, -moz-transform;
  -moz-transition-duration: 3s, 10s;
  -ms-transition-property: opacity, -ms-transform;
  -ms-transition-duration: 3s, 10s;
  -o-transition-property: opacity, -o-transform;
  -o-transition-duration: 3s, 10s;
  transition-property: opacity, transform;
  transition-duration: 3s, 10s;
}

#slideshow img {
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  transform-origin: bottom left;
}

#slideshow :nth-child(2n+1) {
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
}

#slideshow :nth-child(3n+1) {
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
}

#slideshow :nth-child(4n+1) {
  -webkit-transform-origin: bottom right;
  -moz-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  -o-transform-origin: bottom right;
  transform-origin: bottom right;
}

#slideshow .fx:first-child+img~img {
  z-index: -1;
}

#slideshow .fx {
  opacity: 1;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

@media (max-width: 1023.98px) {
  #slideshow {
    height: 166.66vw;
  }

  #slideshow img {
    height: 166.66vw;
    margin-left: -50%;
    margin-top: -83.33vw;
  }
}

/* #Post Grid
================================================== */
.post-grid {
  padding: 7.18vw 0 5.7vw 0;
  position: relative;
}

.post-grid .container {
  width: 79%;
  position: relative;
  z-index: 2;
}

/* Tab Content */
.post-grid-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: -.67vw;
}

.post-grid-cards li {
  flex: 0 0 33.3333%;
  padding: .67vw;
}

.post-grid-cards li:first-child {
  margin-right: 2vw;
}

/* Tab Navigation */
.post-grid .tab-navigation {
  position: absolute;
  top: 0;
  right: 0;
  width: 33.3333%;
  height: 26.4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}

.post-grid .tab-navigation h2 {
  line-height: 1.33;
  margin-bottom: 2.6vw;
}

.post-grid .tab-navigation ul {
  display: flex;
}

.post-grid .tab-btn {
  height: 2vw;
  padding: 0 1.3vw;
  border-radius: 500px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: all .4s ease;
}

.post-grid .tab-btn.active {
  border-color: #67D0FF;
  color: #67D0FF;
}

@media (max-width: 1023.98px) {
  .post-grid {
    padding: 17.33vw 0 20vw 0;
  }

  .post-grid .container {
    width: 90%;
  }

  /* Tab Content */
  .post-grid-cards {
    display: block;
    margin: -.67vw;
  }

  .post-grid-cards li {
    padding: 0;
  }

  .post-grid-cards li:first-child {
    margin-right: 0;
  }

  .post-grid-cards li {
    margin-bottom: 5.33vw;
  }

  /* Tab Navigation */
  .post-grid .tab-navigation {
    position: static;
    width: 100%;
    height: auto;
    align-items: center;
    margin-bottom: 10vw;
  }

  .post-grid .tab-navigation h2 {
    line-height: 1.33;
    margin-bottom: 4vw;
  }

  .post-grid .tab-navigation h2 br {
    display: none;
  }

  .post-grid .tab-navigation ul {
    display: flex;
  }

  .post-grid .tab-btn {
    height: 8vw;
    padding: 0 3vw;
    border: 1px solid transparent;
  }

  /* Read More */
  .post-grid .read-more a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .post-grid .read-more a img {
    width: 2vw;
    margin-right: 2vw;
  }
}

/* #Post Card
================================================== */
.post-card {
  position: relative;
  border-radius: 1.3vw;
  overflow: hidden;
}

.post-card a {
  display: block;
}

.post-card .img {
  position: relative;
  overflow: hidden;
}

.post-card .img::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background-image: linear-gradient(to top, #191919, transparent);
}

.post-card .img img {
  width: 100%;
  height: 26.4vw;
  object-fit: cover;
  object-position: center;
  transform: scale(1.01);
  transition: all .4s ease;
  backface-visibility: hidden;
}

.post-card:hover .img img {
  transform: scale(1.03);
}

.post-card .text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 1.6vw 1.3vw;
  color: white;
}

.post-card .text h3 {
  width: 60%;
  line-height: 1.33;
  margin-bottom: .5vw;
}

@media (max-width: 1023.98px) {
  .post-card {
    border-radius: 3.33vw;
    overflow: hidden;
  }

  .post-card .img::after {
    height: 75%;
    border-bottom-left-radius: 3.33vw;
    border-bottom-right-radius: 3.33vw;
  }

  .post-card .img img {
    height: 84.26vw;
    transform: scale(1);
  }

  .post-card:hover .img img {
    transform: scale(1);
  }

  .post-card .text {
    padding: 7.8vw 4vw;
  }

  .post-card .text h3 {
    width: 80%;
    margin-bottom: 1.5vw;
  }
}

/* #Map
================================================== */
.map {
  position: relative;
}

.map .img {
  position: relative;
}

.map .map-fade {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.88), transparent);
  z-index: 10;
}

.map #map {
  width: 100%;
  height: 58.33vw;
}

.map .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3.9vw;
  width: 45.6vw;
  background-color: white;
  border-radius: 1.3vw;
  box-shadow: 0 3px 20px #54ccff4f;
  padding: 5.2vw 7vw;
  z-index: 20;
}

/* Heading */
.map .heading {
  width: 27vw;
  margin-bottom: 2.6vw;
}

.map .heading h2 {
  margin-bottom: .8vw;
}

.map .heading p {
  line-height: 1.55;
}

/* Numbers */
.map .numbers {
  margin-bottom: 3.64vw;
  text-align: center;
}

.map .numbers ul {
  display: flex;
  align-items: center;
}

.map .numbers ul li:not(:last-child) {
  margin-left: 4.16vw;
}

.map .numbers h3 {
  margin-bottom: .25vw;
}

/* Icons */
.map .icons h3 {
  margin-bottom: 2vw;
}

.map .icons ul {
  display: flex;
  align-items: center;
  text-align: center;
}

.map .icons ul li:not(:last-child) {
  margin-left: 3.125vw;
}

.map .icons a img {
  width: 4.58vw;
  border-radius: 50%;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.16);
  margin: 0 auto;
  margin-bottom: .78vw;
  border: 2px solid #67cfff33;
  transition: all .4s ease;
}

.map .icons a {
  transition: all .4s ease;
}

.map .icons a.active {
  color: #00B0FF;
}

.map .icons a.active img {
  border-color: #00B0FF;
}

@media (max-width: 1023.98px) {
  .map {
    position: relative;
  }

  .map .img {
    position: relative;
  }

  .map .map-fade {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.88), transparent);
  }

  .map #map {
    height: 195.73vw;
  }

  .map .text {
    position: static;
    transform: none;
    margin: 0 auto;
    width: 90%;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
  }

  /* Heading */
  .map .heading {
    width: 100%;
    margin-bottom: 6vw;
    text-align: center;
  }

  .map .heading h2 {
    margin-bottom: 2.66vw;
  }

  .map .heading p {
    line-height: 1.32;
  }

  /* Numbers */
  .map .numbers {
    margin-bottom: 4.33vw;
  }

  .map .numbers ul {
    justify-content: space-between;
  }

  .map .numbers ul li:not(:last-child) {
    margin-left: 0;
  }

  .map .numbers h3 {
    margin-bottom: 1vw;
  }

  /* Icons */
  .map .icons {
    position: absolute;
    bottom: 122vw;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    border-radius: 3.33vw;
    background-color: white;
    box-shadow: 0 3px 20px #54ccff4f;
    padding: 6.65vw 4vw;
    z-index: 20;
  }

  .map .icons h3 {
    margin-bottom: 4.33vw;
    text-align: center;
  }

  .map .icons ul {
    justify-content: space-between;
  }

  .map .icons ul li:not(:last-child) {
    margin-left: 0;
  }

  .map .icons ul img {
    width: 15.73vw;
    margin-bottom: 3.33vw;
  }

  .map .icons ul p {
    padding: 0 4vw;
  }
}

/* #Services
================================================== */
.services .row {
  display: flex;
}

.services .col {
  flex: 0 0 50%;
  height: 51.3vw;
}

/* First Column */
.services .col:first-child {
  background-color: #97DFFF;
  padding: 8.85vw 9.8vw 0 6vw;
}

.services .heading {
  margin-bottom: 4.16vw;
  width: 25vw;
}

.services .heading p {
  line-height: 1.55;
  margin-top: .5vw;
}

.services .icons h3 {
  margin-bottom: 2vw;
}

.services .icons ul {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  margin-right: -1.2vw;
}

.services .icons ul li {
  flex: 0 0 6.9vw;
  margin-bottom: 2.3vw;
  margin-left: 2vw;
}

.services .icons a img {
  width: 4.58vw;
  border-radius: 50%;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.16);
  margin: 0 auto;
  margin-bottom: .78vw;
  transition: all .4s ease;
}

/* Second Column */
.services .col:last-child {
  position: relative;
}

.services .col:last-child .img {
  height: 100%;
}

.services .col:last-child .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left bottom;
}

.services .col:last-child .text {
  position: absolute;
  top: 8.85vw;
  right: 10vw;
  width: 20vw;
}

.services .col:last-child .text p {
  margin-bottom: 1.4vw;
  margin-top: .5vw;
  line-height: 1.55;
}

@media (max-width: 1023.98px) {
  .services .row {
    display: block;
  }

  .services .col {
    height: auto;
  }

  /* First Column */
  .services .col:first-child {
    padding: 24vw 4.33vw 24vw 4.33vw;
  }

  .services .heading {
    margin-bottom: 6.65vw;
    width: 100%;
    text-align: center;
    padding: 0 4vw;
  }

  .services .heading p {
    margin-top: 2.66vw;
    line-height: 1.3;
  }

  .services .icons h3 {
    margin-bottom: 4.33vw;
    text-align: center;
  }

  .services .icons ul {
    justify-content: space-between;
    margin-bottom: -8vw;
    margin-right: 0;
  }

  .services .icons ul li {
    flex: 0 0 33.333%;
    margin-left: 0;
    margin-bottom: 8vw;
  }

  .services .icons ul li:not(:last-child) {
    margin-left: 0;
  }

  .services .icons ul img {
    width: 15.73vw;
    margin-bottom: 3.33vw;
  }

  .services .icons ul p {
    padding: 0;
  }

  /* Second Column */
  .services .col:last-child {
    position: relative;
  }

  .services .col:last-child .img {
    height: 100%;
  }

  .services .col:last-child .img img {
    height: 156.66vw;
    object-fit: cover;
    object-position: left bottom;
  }

  .services .col:last-child .text {
    top: 17.33vw;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    width: 74vw;
  }

  .services .col:last-child .text p {
    margin-top: 2.66vw;
    margin-bottom: 4.33vw;
    line-height: 1.3;
  }
}

/* #Post Slider
================================================== */
.post-slider {
  padding: 6vw 0 10vw 0;
  position: relative;
}

.post-slider .container {
  position: relative;
  z-index: 2;
}

.post-slider .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 78%;
  margin-bottom: 2vw;
}

.post-slider .swiper-slide {
  padding: 0 .7vw;
}

@media (min-width: 1024px) {
  .post-slider .swiper-pagination {
    display: none;
  }
}

@media (max-width: 1023.98px) {
  .post-slider {
    padding: 17.33vw 0 28.66vw 0;
  }

  .post-slider .heading {
    width: 90%;
    margin-bottom: 8vw;
    text-align: center;
    justify-content: center;
  }

  .post-slider .swiper-slide {
    padding: 0 2vw;
  }

  .post-slider .swiper-arrows {
    display: none;
  }

  .post-slider .swiper-horizontal>.swiper-pagination-bullets,
  .post-slider .swiper-pagination-bullets.swiper-pagination-horizontal {
    position: static;
    margin-top: 5.33vw;
  }
}

/* #Swiper Arrows
================================================== */
.swiper-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-arrows img {
  width: .5vw;
}

.swiper-arrows .prev {
  margin-left: 2.34vw;
}

@media (max-width: 1023.98px) {
  .swiper-arrows img {
    width: 1.6vw;
  }
  
  .swiper-arrows .prev {
    margin-left: 7.6vw;
  }
}

/* #Swiper Pagination
================================================== */
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}

.swiper-pagination-bullet {
  background: #D5D5D5;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #225368;
}

/* #Footer Banner
================================================== */
.footer-banner {
  position: relative;
}

.footer-banner .img img {
  width: 100%;
}

.footer-banner .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 25vw;
}

.footer-banner .text h2 {
  margin-bottom: .5vw;
}

.footer-banner .text a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2vw;
}

.footer-banner .text a img {
  width: 3.17vw;
  margin-bottom: .35vw;
}

@media (max-width: 1023.98px) {
  .footer-banner .text {
    top: 30vw;
    transform: translate(-50%, 0);
    width: 78.66vw;
  }

  .footer-banner .text h2 {
    margin-bottom: 1.4vw;
  }

  .footer-banner .text a {
    margin-top: 6.65vw;
  }

  .footer-banner .text a img {
    width: 10vw;
    margin-bottom: 1.33vw;
  }
}

/* #Footer Main
================================================== */
.footer-main {
  background-color: #F5F9FA;
  height: 25.46vw;
  display: flex;
  position: relative;
}

/* Info */
.footer-info {
  flex: 0 0 23vw;
  padding: 4.45vw 4vw 0 0;
}

.footer-info .footer-logo {
  margin-bottom: 3.125vw;
}

.footer-info .footer-logo img {
  width: 10vw;
}

.footer-info .footer-contact {
  margin-bottom: 6.77vw;
}

.footer-info .footer-contact ul li:not(:last-child) {
  margin-bottom: .5vw;
}

.footer-info .footer-social ul {
  display: flex;
  align-items: center;
}

.footer-info .footer-social ul li:not(:last-child) {
  margin-left: 1.3vw;
}

.footer-info .footer-social img {
  width: 1.2vw;
  height: 1.2vw;
  object-fit: contain;
  object-position: center;
}

/* Menu */
.footer-menu {
  flex-grow: 1;
  background-color: #97DFFF;
  border-top-right-radius: 12.5vw;
  padding: 6.5vw 11.35vw 0 5.93vw;
}

/* Copy */
.footer-copy {
  position: absolute;
  bottom: 1.5vw;
  left: 5.93vw;
  width: 58.8vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5vw;
  border-top: 1px solid #22536825;
}

@media (min-width: 1024px) {
  .footer-menu .accordion {
    display: flex;
    justify-content: space-between;
  }

  .footer-menu .collapse-toggler {
    margin-bottom: 1.25vw;
    cursor: default;
  }

  .footer-menu .collapse li:not(:last-child) {
    margin-bottom: .5vw;
  }

  .footer-menu .collapse {
    height: auto !important;
  }
}

@media (max-width: 1023.98px) {
  .footer-main {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  /* Info */
  .footer-info {
    flex: 0;
    padding: 15.33vw 6.4vw 16vw 6.4vw;
    text-align: center;
  }

  .footer-info .footer-logo {
    margin-bottom: 8vw;
  }

  .footer-info .footer-logo img {
    width: 46vw;
    margin: 0 auto;
  }

  .footer-info .footer-contact {
    margin-bottom: 4vw;
  }

  .footer-info .footer-contact ul li:not(:last-child) {
    margin-bottom: 1.33vw;
  }

  .footer-info .footer-social ul {
    justify-content: center;
  }

  .footer-info .footer-social ul li:not(:last-child) {
    margin-left: 6vw;
  }

  .footer-info .footer-social img {
    width: 5.33vw;
    height: 5.33vw;
  }

  /* Menu */
  .footer-menu {
    border-top-right-radius: 20vw;
    padding: 20vw 6.26vw;
  }

  .footer-menu .collapsible:not(:last-child) {
    border-bottom: 1px solid #2253681c;
  }

  .footer-menu .collapse-toggler {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6vw 0;
  }

  .footer-menu .collapse-toggler img {
    width: 2.66vw;
    transition: all .4s ease;
  }

  .footer-menu .collapsible.show .collapse-toggler img {
    transform: rotate(180deg);
  }

  .footer-menu .collapse>div {
    padding-bottom: 6vw;
  }

  .footer-menu .collapse ul li:not(:last-child) {
    margin-bottom: 2.66vw;
  }

  /* Copy */
  .footer-copy {
    order: -1;
    position: static;
    width: 87.2vw;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column-reverse;
    padding-top: 6vw;
    padding-bottom: 10vw;
    border-top: 1px solid #22536825;
  }

  .footer-copy p:first-child {
    margin-top: 1.33vw;
  }
}

/* #General Page Content
================================================== */
.general-page-content {
  position: relative;
  padding: 3.125vw 0 .78vw 0;
}

.general-page-content .container {
  position: relative;
  z-index: 1;
  width: 88%;
}

.general-page-content .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.general-page-content .main>div:last-child {
  margin-bottom: 0;
}

/* Breadcrumbs */
.general-page-content .breadcrumbs {
  margin-bottom: 1.5vw;
}

/* Sidebar */
.general-page-content .sidebar {
  flex: 0 0 16.66vw;
  margin-left: 5.2vw;
  box-shadow: 0 5px 20px #54ccff4f;
  border-radius: 1.3vw;
  padding: 2.91vw 3.5vw 3.125vw 2vw;
}

.general-page-content .sidebar .collapse-toggler {
  margin-bottom: 1.3vw;
}

.general-page-content .sidebar ul li:not(:last-child) {
  margin-bottom: 1.04vw;
}

.general-page-content .sidebar ul li {
  position: relative;
}

.general-page-content .sidebar ul li.active {
  color: #67D0FF;
}

.general-page-content .sidebar ul li.active::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -2.34vw;
  width: 1.5vw;
  height: 2px;
  background-color: #67D0FF;
}

/* Main */
.general-page-content .main {
  flex: 0 0 42.23vw;
}

/* Social */
.general-page-content .social {
  flex: 0 0 6.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: sticky;
  top: 50%;
}

.general-page-content .social p {
  margin-bottom: .6vw;
}

.general-page-content .social ul img {
  width: 1.71vw;
}

.general-page-content .social ul li:not(:last-child) {
  margin-bottom: .6vw;
}

/* Text Content */
.general-page-content .text-content h2 {
  font-size: 1.5vw;
  margin-bottom: .78vw;
}

.general-page-content .text-content h2:not(:first-child) {
  margin-top: 1vw;
}

.general-page-content .text-content h3 {
  font-size: 1.2vw;
  margin-bottom: .5vw;
}

.general-page-content .text-content p,
.general-page-content .text-content ul,
.general-page-content .text-content ol {
  font-size: .94vw;
  margin-bottom: 1vw;
}

.general-page-content .text-content ul {
  list-style: initial;
}

.general-page-content .text-content ul,
.general-page-content .text-content ol {
  padding-right: 19px;
}

.general-page-content .text-content ul li:not(:last-child),
.general-page-content .text-content ol li:not(:last-child) {
  margin-bottom: 1vw;
}

/* Download */
.general-page-content .download {
  margin: 2.34vw 0 3.125vw 0;
}

.general-page-content .download ul {
  display: flex;
  justify-content: space-between;
}

.general-page-content .download li {
  display: flex;
  flex: 0 0 11.7vw;
}

.general-page-content .download img {
  width: 2vw;
  margin-left: .78vw;
  margin-top: .2vw;
}

.general-page-content .download a {
  display: flex;
  align-items: center;
  margin-top: .25vw;
}

.general-page-content .download a img {
  width: .35vw;
  margin-right: .5vw;
}

/* Img */
.general-page-content .img {
  margin: 3.125vw 0;
}

.general-page-content .img img {
  border-radius: .78vw;
}

/* Video */
.general-page-content .video {
  position: relative;
  margin: 3.125vw 0;
}

.general-page-content .video>img {
  border-radius: .78vw;
}

.general-page-content .video a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.general-page-content .video a img {
  width: 3.2vw;
}

/* Table */
.general-page-content .table {
  margin: 3.125vw 0 3.9vw 0;
}

.general-page-content .table>p {
  margin-bottom: 1vw;
}

.general-page-content table {
  border-collapse: collapse;
}

.general-page-content table tr:first-child {
  border-bottom: 1px solid #E6E6E6;
}

.general-page-content table td {
  border-left: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.general-page-content table th:not(:last-child) {
  border-left: 1px solid #E6E6E6;
}

.general-page-content table tr:last-child td {
  border-bottom: none;
}

.general-page-content table th {
  padding-top: .25vw;
  padding-bottom: .78vw;
  vertical-align: top;
}

.general-page-content table td {
  padding: .78vw 0;
}

.general-page-content table td:not(:first-child) {
  padding-right: 2vw;
}

.general-page-content table td:not(:last-child) {
  padding-left: 2vw;
}

.general-page-content table tr:nth-child(2) td:last-child {
  border-bottom: none;
  border-left: none;
  vertical-align: top;
}

/* Download 2 */
.general-page-content .download-2 {
  margin: 3.125vw 0 5.2vw 0;
}

.general-page-content .download-2 ul {
  display: flex;
  flex-wrap: wrap;
  margin: -.4vw;
}

.general-page-content .download-2 ul li {
  flex: 0 0 33.3333333%;
  padding: .4vw;
}

.general-page-content .download-2 ul li>div {
  background-color: rgba(34, 83, 104, .06);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.34vw 0 2vw 0;
  border-radius: .78vw;
}

.general-page-content .download-2 img {
  width: 3.43vw;
  margin-bottom: 1.5vw;
}

.general-page-content .download-2 a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.3vw;
}

.general-page-content .download-2 a img {
  width: .35vw;
  margin-right: .5vw;
  margin-bottom: 0;
}

/* FAQ */
.general-page-content .faq {
  margin: 5.2vw 0;
}

.general-page-content .faq h2 {
  text-align: center;
  margin-bottom: 1vw;
}

.general-page-content .faq .collapsible {
  border-bottom: 1px solid #E6E6E6;
}

.general-page-content .faq .collapse-toggler {
  padding: 2vw 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.general-page-content .faq .collapse>div {
  padding-bottom: 2vw;
  padding-left: 6.25vw;
}

/* Logos */
.general-page-content .logos {
  margin: 3.125vw 0 5.2vw 0;
}

.general-page-content .logos ul {
  display: flex;
  flex-wrap: wrap;
  margin: -.4vw;
}

.general-page-content .logos ul li {
  flex: 0 0 33.3333333%;
  padding: .4vw;
}

.general-page-content .logos ul li>div {
  background-color: rgba(34, 83, 104, .06);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.34vw 0 2vw 0;
  border-radius: .78vw;
  height: 100%;
}

.general-page-content .logos ul li>div>img {
  width: 6vw;
  height: 6vw;
  object-fit: contain;
  object-position: center;
}

.general-page-content .logos a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .78vw;
}

.general-page-content .logos a img {
  width: .35vw;
  margin-right: .5vw;
  margin-bottom: 0;
}

/* Team */
.general-page-content .team {
  margin: 5.2vw 0;
}

.general-page-content .team li {
  display: flex;
}

.general-page-content .team li:not(:last-child) {
  margin-bottom: 4.16vw;
}

.general-page-content .team li>div:first-child {
  flex-shrink: 0;
}

.general-page-content .team li img {
  width: 9.53vw;
  height: 9.53vw;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-left: 1.5vw;
}

.general-page-content .team h3 {
  margin: .25vw 0 .78vw 0;
}

/* Contact Form */
.general-page-content .contact-form {
  box-shadow: 0 5px 20px #54ccff4f;
  border-radius: 1.3vw;
  padding: 2.6vw 3.65vw 4.8vw 3.65vw;
  text-align: center;
}

.general-page-content .contact-form img {
  margin: 0 auto;
  margin-bottom: 1vw;
  width: 5.88vw;
}

.general-page-content .contact-form .heading {
  margin-bottom: 2vw;
}

.general-page-content .contact-form .btn {
  min-width: 9.375vw;
}

.general-page-content .contact-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.general-page-content .contact-form form>div:not(:last-child) {
  flex: 0 0 48%;
  margin-bottom: 1.3vw;
}

.general-page-content .contact-form form>div:last-child {
  flex: 0 0 100%;
  margin-top: 1.55vw;
}

.general-page-content .contact-form form>div:nth-child(5) {
  flex: 0 0 100%;
}

@media (min-width: 1024px) {

  /* Sidebar */
  .general-page-content .sidebar .collapse {
    height: auto !important;
    overflow: visible;
  }

  /* Banners */
  .general-page-content .banners {
    flex-grow: 1;
  }

  .general-page-content .general-banner {
    border-radius: 1.3vw;
    padding: .416vw;
    box-shadow: 0 5px 20px #54ccff4f;
  }

  .general-page-content .general-banner:not(:last-child) {
    margin-bottom: 1.8vw;
  }

  .general-page-content .general-banner>div {
    border-radius: 1.3vw;
    overflow: hidden;
  }

  /* Banner 1 */
  .general-page-content .general-banner-1 .img img {
    width: 100%;
    height: 12.44vw;
    object-fit: cover;
    object-position: center;
  }

  .general-page-content .general-banner-1 .text {
    padding: 1vw .78vw 1.5vw .25vw;
  }

  .general-page-content .general-banner-1 p {
    margin: .4vw 0 1.2vw 0;
  }

  .general-page-content .general-banner-1 a {
    display: flex;
    align-items: center;
  }

  .general-page-content .general-banner-1 a img {
    width: .35vw;
    margin-right: .5vw;
  }

  /* Banner 2 */
  .general-page-content .general-banner-2>div {
    background-color: #97DFFF;
    padding: 2.6vw 1.5vw 3.9vw 1.5vw;
    text-align: center;
  }

  .general-page-content .general-banner-2 .heading {
    margin-bottom: 2vw;
  }

  .general-page-content .general-banner-2 .heading p {
    line-height: 1.55;
    margin-top: .5vw;
  }

  .general-page-content .general-banner-2 .icons h3 {
    margin-bottom: 1vw;
  }

  .general-page-content .general-banner-2 .icons ul {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: -2.3vw;
  }

  .general-page-content .general-banner-2 .icons ul li {
    flex: 0 0 50%;
    margin-bottom: 1.3vw;
    margin-left: 0;
  }

  .general-page-content .general-banner-2 .icons a img {
    width: 3.9vw;
    border-radius: 50%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.16);
    margin: 0 auto;
    margin-bottom: .78vw;
    transition: all .4s ease;
  }

  /* Banner 3 */
  .general-page-content .general-banner-3 {
    position: relative;
  }

  .general-page-content .general-banner-3 img {
    width: 100%;
  }

  .general-page-content .general-banner-3 .text {
    position: absolute;
    top: 2.6vw;
    width: 12.5vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .general-page-content .general-banner-3 .text p {
    margin: .5vw 0 1.5vw 0;
  }

  /* Banner 4 */
  .general-page-content .general-banner-4 {
    position: relative;
  }

  .general-page-content .general-banner-4 img {
    width: 100%;
  }

  .general-page-content .general-banner-4 .text {
    position: absolute;
    top: 6.25vw;
    width: 12.5vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .general-page-content .general-banner-4 .text p {
    margin: .5vw 0 1.5vw 0;
  }

  .general-page-content .general-banner-4 .text a img {
    width: 2.34vw;
    margin: 0 auto;
    margin-bottom: .4vw;
  }
}

@media (max-width: 1023.98px) {
  .general-page-content {
    padding: 0 0 2.66vw 0;
    position: relative;
    z-index: 10;
    margin-bottom: -9vw;
  }

  .general-page-content .container {
    width: 90%;
    transform: translateY(-9vw);
  }

  .general-page-content .row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  /* Breadcrumbs */
  .general-page-content .breadcrumbs {
    display: none;
  }

  /* Sidebar */
  .general-page-content .sidebar {
    order: -1;
    width: 100%;

    margin-left: 0;
    border-radius: 3.33vw;
    padding: 0;
    background-color: white;
  }

  .general-page-content .sidebar .collapse-toggler {
    margin-bottom: 0;
    padding: 5.33vw 6.65vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .general-page-content .sidebar .collapse-toggler img {
    width: 2.66vw;
    transition: all .4s ease;
  }

  .general-page-content .sidebar .collapsible.show .collapse-toggler img {
    transform: rotate(180deg);
  }

  .general-page-content .sidebar .collapse>div {
    border-top: 1px solid #2253681e;
    padding: 5.33vw 6.65vw 10vw 6.65vw;
  }

  .general-page-content .sidebar ul li:not(:last-child) {
    margin-bottom: 2.66vw;
  }

  .general-page-content .sidebar ul li.active::after {
    display: none;
  }

  /* Social */
  .general-page-content .social {
    order: -1;

    flex: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: static;
    padding: 6.65vw 0 7vw 0;
  }

  .general-page-content .social p {
    margin-bottom: 2.66vw;
  }

  .general-page-content .social ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .general-page-content .social ul img {
    width: 6.65vw;
  }

  .general-page-content .social ul li:not(:last-child) {
    margin-bottom: 0;
    margin-left: 2.66vw;
  }

  /* Text Content */
  .general-page-content .text-content h2 {
    font-size: 5.33vw;
    margin-bottom: 4vw;
  }

  .general-page-content .text-content h2:not(:first-child) {
    margin-top: 13.33vw;
  }

  .general-page-content .text-content h3 {
    font-size: 4.66vw;
    margin-bottom: 1.33vw;
  }

  .general-page-content .text-content p,
  .general-page-content .text-content ul,
  .general-page-content .text-content ol {
    font-size: 4.26vw;
    margin-bottom: 3vw;
  }

  .general-page-content .text-content ul li:not(:last-child),
  .general-page-content .text-content ol li:not(:last-child) {
    margin-bottom: 3vw;
  }

  /* Download */
  .general-page-content .download {
    margin: 20vw 0;
  }

  .general-page-content .download ul {
    display: block;
  }

  .general-page-content .download li {
    display: flex;
    align-items: center;
  }

  .general-page-content .download li:not(:last-child) {
    margin-bottom: 9.33vw;
  }

  .general-page-content .download img {
    width: 16vw;
    margin-left: 3vw;
    margin-top: 0;
  }

  .general-page-content .download a {
    margin-top: 1.33vw;
  }

  .general-page-content .download a img {
    width: 1.33vw;
    margin-right: 2vw;
  }

  /* Img */
  .general-page-content .img {
    margin: 20vw 0;
  }

  .general-page-content .img img {
    border-radius: 2vw;
  }

  /* Video */
  .general-page-content .video {
    position: relative;
    margin: 20vw 0;
  }

  .general-page-content .video>img {
    border-radius: 2vw;
  }

  .general-page-content .video a img {
    width: 15vw;
  }

  /* Table */
  .general-page-content .table {
    margin: 20vw 0;
  }

  .general-page-content .table>p {
    margin-bottom: 9.33vw;
  }

  .general-page-content table {
    border-bottom: 1px solid #E6E6E6;
  }

  .general-page-content table th,
  .general-page-content table td {
    width: 33.333333%;
    text-align: right;
  }

  .general-page-content table th:nth-child(3),
  .general-page-content table td:nth-child(3) {
    border-left: none !important;
  }

  .general-page-content table th {
    padding-top: .25vw;
    padding-bottom: 3vw;
    vertical-align: top;
    padding-right: 4vw;
  }

  .general-page-content table th:first-child {
    padding-right: 0;
  }

  .general-page-content table td {
    padding: 4vw 0;
  }

  .general-page-content table td:not(:first-child) {
    padding-right: 4vw;
  }

  .general-page-content .table-footer {
    text-align: center;
    margin-top: 4vw;
  }

  .general-page-content .table-footer h3 {
    margin-bottom: 1.33vw;
  }

  /* Download 2 */
  .general-page-content .download-2 {
    margin: 20vw 0;
  }

  .general-page-content .download-2 ul {
    display: block;
    margin: 0;
  }

  .general-page-content .download-2 ul li {
    padding: 0;
  }

  .general-page-content .download-2 ul li:not(:last-child) {
    margin-bottom: 4vw;
  }

  .general-page-content .download-2 ul li>div {
    padding: 8.66vw 0 8vw 0;
    border-radius: 2vw;
  }

  .general-page-content .download-2 img {
    width: 19.33vw;
    margin-bottom: 8.66vw;
  }

  .general-page-content .download-2 a {
    margin-top: 2vw;
  }

  .general-page-content .download-2 a img {
    width: 1.5vw;
    margin-right: 2vw;
  }

  /* FAQ */
  .general-page-content .faq {
    margin: 20vw 0;
  }

  .general-page-content .faq h2 {
    margin-bottom: 2vw;
  }

  .general-page-content .faq .collapse-toggler {
    padding: 6.65vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.3;
  }

  .general-page-content .faq .collapse-toggler .simbol {
    padding-right: 7vw;
  }

  .general-page-content .faq .collapse>div {
    padding-bottom: 6.65vw;
    padding-left: 5.33vw;
  }

  /* Logos */
  .general-page-content .logos {
    margin: 20vw 0;
  }

  .general-page-content .logos ul {
    display: block;
    margin: 0;
  }

  .general-page-content .logos ul li {
    padding: 0;
  }

  .general-page-content .logos ul li:not(:last-child) {
    margin-bottom: 4vw;
  }

  .general-page-content .logos ul li>div {
    padding: 13.66vw 0;
    border-radius: 2vw;
  }

  .general-page-content .logos ul li>div>img {
    width: 28.66vw;
    height: 28.66vw;
  }

  .general-page-content .logos a {
    margin-top: 5.33vw;
  }

  .general-page-content .logos a img {
    width: 1.33vw;
    margin-right: 2vw;
    margin-bottom: 0;
  }

  /* Team */
  .general-page-content .team {
    margin: 20vw 0;
  }

  .general-page-content .team li {
    display: block;
    text-align: center;
  }

  .general-page-content .team li:not(:last-child) {
    margin-bottom: 16.66vw;
  }

  .general-page-content .team li img {
    width: 32.66vw;
    height: 32.66vw;

    margin: 0 auto;
    margin-bottom: 3.33vw;
  }

  .general-page-content .team h3 {
    margin: 1vw 0 5vw 0;
  }

  /* Contact Form */
  .general-page-content .contact-form {
    border-radius: 3.33vw;
    padding: 12vw 12vw 24.26vw 12vw;
  }

  .general-page-content .contact-form img {
    margin-bottom: 6.65vw;
    width: 22.66vw;
  }

  .general-page-content .contact-form .heading {
    margin-bottom: 10vw;
  }

  .general-page-content .contact-form .btn {
    min-width: 45vw;
  }

  .general-page-content .contact-form form {
    display: block;
  }

  .general-page-content .contact-form form>div:not(:last-child) {
    margin-bottom: 4vw;
  }

  .general-page-content .contact-form form>div:last-child {
    flex: 0 0 100%;
    margin-top: 13.33vw;
  }

  /* Banners */
  .general-page-content .banners {
    display: none;
  }
}

/* #News
================================================== */
.news {
  position: relative;
}

.news .container {
  position: relative;
  z-index: 2;
  padding-right: 6%;
}

.news .post-slider {
  padding: 0!important;
  margin: 3.65vw 0;
}

.news .heading {
  width: 100%;
  padding-left: 6%;
  margin-bottom: 1.1vw;
}

.news .link {
  display: flex;
  justify-content: flex-end;
  padding-left: 6%;
}

.news .link a {
  display: flex;
  align-items: center;
  margin-top: 1.5vw;
}

.news .link a img {
  width: .35vw;
  margin-right: .5vw;
}

.news .swiper {
  margin-right: -.7vw;
}

.news .post-card .text p {
  display: flex;
  align-items: center;
}

.news .post-card .text p:last-child {
  margin-top: .78vw;
}

.news .post-card .text p img {
  width: .35vw;
  margin-right: .5vw;
}

.news .post-card .text h3 {
  width: 85%;
  line-height: 1.33;
  margin-bottom: 0.5vw;
}

.news .post-card .img img {
  height: 21.875vw;
}

/* Breadcrumbs */
.news .breadcrumbs {
  margin: 3.125vw 0 1.5vw 0;
}

/* Tab Navigation */
.news .tab-navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.news .tab-btn:not(:last-child) {
  margin-left: 2.34vw;
}

.news .tab-btn {
  border-bottom: 2px solid transparent;
  padding-bottom: .25vw;
}

.news .tab-btn.active {
  border-color: #67D0FF;
  color: #67D0FF;
}

@media (max-width: 1023.98px) {
  .news {
    position: relative;
  }

  .news .section-top {
    transform: translateY(-9.4vw);
  }
  
  .news .container {
    position: relative;
    z-index: 2;
    padding-right: 0;
  }

  .news .tab-content {
    padding-right: 5.33vw;
  }

  .news .post-slider {
    margin: 20vw 0;
  }
  
  .news .heading {
    width: 100%;
    padding-left: 0;
    justify-content: flex-start;
    margin-bottom: 4vw;
  }
  
  .news .link {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;

    position: absolute;
    top: 2vw;
    left: 5.33vw;
  }
  
  .news .link a {
    margin-top: 0;
  }
  
  .news .link a img {
    width: 1.33vw;
    margin-right: 2vw;
  }
  
  .news .swiper {
    margin-right: -2vw;
    
    padding-bottom: 11.33vw;
  }
  
  .news .post-card .text p:last-child {
    display: none;
  }
  
  .news .post-card .text h3 {
    width: 85%;
    margin-bottom: 2vw;
  }
  
  .news .post-card .img img {
    height: 77.33vw;
  }

  .news .post-card .text {
    padding: 5.33vw 3.33vw;
  }

  .news .swiper-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    padding-left: 5.33vw;
  }

  /* Tab Navigation */
  .news .tab-navigation {
    margin-top: 5.33vw;
    margin-bottom: -5.33vw;
  }

  .news .tab-navigation ul {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 4vw;

    background-color: white;
    box-shadow: 0 3px 20px #54ccff4f;
    padding: 4vw 0;
  }

  .news .tab-btn:not(:last-child) {
    margin-left: 5vw;
  }

  .news .tab-btn {
    border-bottom: 2px solid transparent;
    padding-bottom: .25vw;
  }

  .news .tab-btn.active {
    border-color: #67D0FF;
    color: #67D0FF;
  }
}